table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*searchField*/
.searchField{
    padding: 20px;
    height: 100%;
}
.searchBox{
    width: 100%;
}
.searchBtn{
    width: 100%;
}
.reactive-table-input:focus{
    background-color: yellow;
}

/*.found{
    display: inline;
}
.available{
    display: none;
}*/